.home {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 8fr;
  column-gap: 12rem;

  padding: 0 4rem;
}

.home--content {
  flex-shrink: 0;

  color: black;

  width: 100%;

  border: 1px solid red;
}

.home--beginnings {
  padding: 4rem 0;
}

.home--beginnings > header {
  font-size: 3.6rem;
  font-weight: 500;

  margin-bottom: 1rem;
}

.home--beginnings > p {
  font-size: 1.6rem;
}
